@{
	ViewBag.Title = "Home Page";
}

<div class="container-fluid">

	<div class="row tm-margin-t-mid">
		<div class="col-xs-12">
			<h3 class="tm-gold-text">
				WELCOME TO LMYC ORGANIZATION
			</h3>
			<p>The Lower Mainland Yacht Cooperative (LMYC) is a provincially registered and regulated non-profit organization, which is owned and operated by its members. LMYC is governed by the British Columbia Co-operative Act.</p>
			<p>The mission and purpose of the Lower Mainland Yacht co-op is to promote Affordable, Safe and Enjoyable recreational sailing. As a co-op, it is possible to provide boats, equipment and sailing skill development at a fraction of the cost of any other sailing program you can find. The low cost, however, does require full participation of the members to make it succeed. All members are expected to contribute time for boat maintenance or helping with other activities toward our common goal.</p>
		</div>
	</div>

	<div class="row tm-margin-t-mid">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 tm-sm-m-b">
			<h3 class="tm-gold-text">History</h3>
			<p>MAY, 1976 - THE START OF THE LOWER MAINLAND YACHT CO-OP</p>
			<p>Frankie and I moved to White Rock from Northern B.C. and I fully expected to get an invention I had developed into a position where we could buy a sailboat, but it didn't turn out that way. Instead I found myself leaning on the rail of the old pier looking at the half dozen sailboats bobbing at the float and wondering how I was ever going to get sailing.</p>
		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
			<h3 class="tm-gold-text">Membership</h3>
			<p>You don't need to own a boat or even know how to sail in order become a member of one of White Rock's best kept secrets – the Lower Mainland Yacht Co-op (LMYC). All you need is an interest in sailing.</p>
			<p>You can learn to be a skipper on one of our seven boats; join the fun on long weekend cruises or simply sail around Semiahmoo Bay with other members... all for an affordable price!</p>
		</div>

	</div>

	<div class="row tm-margin-t-mid">
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

			<div class="tm-content-box">
				<img src="http://www.lmyc.ca/sites/default/files/content/pages/laid-back-sailing_0_0.jpg" alt="Image" class="tm-margin-b-30 img-fluid">
				<h4 class="tm-margin-b-20 tm-gold-text">STORY #1</h4>
				<p class="tm-margin-b-20">The desire to sail was harbored for over thirty years after I'd served in the Canadian Navy in World War II where I had the good fortune to be chosen as an instructor and got involved in seamanship and sailing.</p>
			</div>

		</div>

		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

			<div class="tm-content-box">
				<img src="http://www.lmyc.ca/sites/default/files/content/pages/sailing_1.jpg" alt="Image" class="tm-margin-b-30 img-fluid">
				<h4 class="tm-margin-b-20 tm-gold-text">STORY #2</h4>
				<p class="tm-margin-b-20">In 1980 there were 30 members, still one boat. By 1984 there were 100 members and four boats. Recently, the group has grown to 115 sailing members. Through the years the fleet has grown to seven sailboats: three 26' Grampians, two 27' C&C; an Ericson 28+ and a 1983 Cal 25 MKII.</p>
			</div>

		</div>
	</div> <!-- row -->

</div>